---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: anyapplications.dcp.hiro.io
spec:
  group: dcp.hiro.io
  names:
    kind: AnyApplication
    listKind: AnyApplicationList
    plural: anyapplications
    singular: anyapplication
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: AnyApplication is the Schema for the anyapplications API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AnyApplicationSpec defines the desired state of AnyApplication.
            properties:
              foo:
                description: Foo is an example field of AnyApplication. Edit anyapplication_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: AnyApplicationStatus defines the observed state of AnyApplication.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
