apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" . }}-config
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  application-controller.yaml: |-
  {{- .Values.configuration | toYaml | nindent 4 }}